@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

*{
    font-family: 'Noto Sans', sans-serif;
    padding: 0;
    margin: 0;
}

body{
    background-color: #923205;
}



.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
    background-color: #c44a21;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}

.nav-bar button{
    background-color: #923205;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(.84,.21,.23,.76);
}

.nav-bar button:hover{
    color: #e87f2a;
    background-color: #852e03;
}

.nav-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    font-size: 16px;
}

.nav-link:hover{
    color: #e87f2a;
    text-decoration: none;
}

.nav-link{
    transition: all 0.4s cubic-bezier(.84,.21,.23,.76);
    color:white;
    text-decoration: none;


}

.nav-element{
    cursor: pointer;
    border-right: 1px solid rgba(146, 50, 5, 0.53);
    padding: 0 10px;
}
.nav-element:last-child{
    cursor: pointer;
    border-right: 0;
}

.presentation{
    background-color: #922200;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation h3{
    color: #e87f2a;
}

.presentation p{
    color:white;
    text-align: justify;
    width: 500px;
    margin:10px;
}




#tuiles{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tuile{
    border-radius: 5px;
    margin:8px;
    width: 250px;

    padding:10px;
    background-color: white;
    box-shadow: rgba(26, 26, 26, 0.56) 0px 22px 70px 4px;
}


.search{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

}

.searchinput{
    width:400px;
    height: 41px;
    border: 3px solid #c44a21;
    border-radius: 5px 0 0 5px;
    border-right: none;
    padding: 5px;
    outline: none;
}

.searchbutton{
    width: 40px;
    height: 41px;
    border: 1px solid #c44a21;
    background: #c44a21;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

footer a{
    color: deepskyblue;
    cursor: pointer;
}




